/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Corpo */
body {
    background-color: #0f1117;
    color: #e6e6e6;
    padding: 30px;
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: #58a6ff;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #161b22;
    border-radius: 8px;
    overflow: hidden;
}

/* Cabeçalho */
th {
    background-color: #1f2933;
    padding: 12px;
    text-align: left;
    color: #9da7b3;
    font-size: 14px;
}

/* Linhas */
td {
    font-weight: bold;
    font-size: 16px;
    padding: 30px;
    width: 40px;
    height: 32px;
    border-bottom: 1px solid #22272e;
    color: #c9c9c9;
}

/* Linha hover */
tr:hover td {
    background-color: #1f2530;
}

/* Status codes */
td.status-2xx {
    color: #3fb950 !important; 
    font-weight: bold;
}

td.status-3xx {
    color: #d29922 !important;
    font-weight: bold;
}

td.status-4xx {
    color: #f85149 !important;
    font-weight: bold;
}

td.status-5xx {
    color: #ff7b72 !important;
    font-weight: bold;
}

/* Botão */
button {
    margin-top: 20px;
    background-color: #238636;
    color: #ffffff;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #2ea043;
}

/* Scroll horizontal se necessário */
table {
    overflow-x: auto;
}

.notes-row td {
  background-color: #020617;
  padding: 12px;
}

.notes-box {
  width: 100%;
  height: 140px;
  background-color: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  padding: 10px;
  resize: vertical;
  font-family: monospace;
}

.notes-box:disabled {
  opacity: 0.6;
}

.hidden {
  display: none;
}

.notes-color {
  background-color: #020617 !important;
}


.notification.is-primary {
    background-color: #1f2933;
    color: #58a6ff;
    border: 1px solid #58a6ff;
}